.circulo{
    width: 60px;
    height: 60px;
    background-color: aquamarine;
    border-radius: 100%;
}
.circulo{

    color: red;
    padding: 50px;
}
.cuadrado{
    width: 60px;
    height: 60px;
    background-color: brown;
    transition: .6s;
}

.cuadrado:hover{
    background-color: rgb(14, 255, 34);
}


