.circulo{
    width: 60px;
    height: 60px;
    background-color: aquamarine;
    border-radius: 100%;
}
.cuadrado{
    width: 60px;
    height: 60px;
    background-color: brown;
    transition: .6s;
}

.cuadrado:hover{
    background-color: black;
}


